{{ define "main" }}
    <main class="p-1">
        <h2 class="my-4">نوشته های اخیر</h2>
        <ul>
        {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
            <li><a href="{{ .Permalink }}" class="block p-2 border-r-4 border-slate-300 mt-2 hover:border-sky-500">{{ .Title }}</a></li>
        {{end}}
        </ul>

        <div class="bg-gray-100 p-4 w-64 rounded-md mt-12">
            <p class="text-xs text-sky-600">
                وضعیت
            </p>
            <p class="text-sm mt-4">
                اگر توی کسب و کارتون به درگاه پرداخت اتریومی یا توکن‌های ERC20 نیاز دارید، به من ایمیل بزنید :)
            </p>
            <a href="mailto:mahdi@akbari.foundation" class="text-sky-600 ltr block mt-4 text-sm">
                mahdi@akbari.foundation
            </a>
        </div>
    </main>
    
{{ end }}