{{ define "main" }}
    {{ $lang := site.Language.Lang }}
    <main class="p-1">
        {{ if eq $lang "fa" }}
        <h2 class="my-4">
            نوشته‌های اخیر
        </h2>
                
        <ul>
        {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
            
            <li><a href="{{ .Permalink }}" class="block p-2 border-r-4 border-slate-300 mt-2 hover:border-sky-500 text-black">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        {{ else }}
        <h2 class="my-4">
            Recent posts
        </h2>
                
        <ul>
        {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
            
            <li class="ml-4"><a href="{{ .Permalink }}" class="block p-2 border-l-4 border-slate-300 mt-2 hover:border-sky-500 text-black">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        {{ end }}
    </main>
{{ end }}