<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ if eq site.Language.Lang "fa" }}
        <title>
            لیست نوشته ها | بلاگ مهدی اکبری
        </title>
        {{ else }}
        <title>
            List of posts | Mahdi Akbari's blog
        </title>
        {{ end }}
        <!-- resources.Get "style.css" will fetch the style.css file. 
        It will not work if you mention the exact location like "./assets/style.css".-->
        {{ $style := resources.Get "style.css" }}    
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        <meta name="google-site-verification" content="CfxD9VHCwx4FDNI2vnUTd7GHbY_8uASYNw5Vi_9G3FU" />
    </head>
    <body class="container mx-auto {{ site.Language.Lang }}">
        {{- partial "header.html" . -}}
        <main class="p-1">
            {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate "2006" }}
            <h2 class="font-bold mt-6 mb-2">{{ .Key }}</h2>

            <ul>
            {{ range .Pages }}
            <li class="border-slate-300 p-2 hover:border-sky-500 mt-2 {{if eq site.Language.Lang "fa"}}border-r-4 mr-4{{else}}border-l-4 ml-4{{end}}">
                <a class="text-black" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
                <span class="text-slate-500"> | </span>
                <span class="inline-block text-sm text-slate-500">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 2" ) }}</span>
            </li>
            {{- end -}}
            </ul>

            {{ end }}
        </main>

        {{- partial "footer.html" . -}}
    </body>
</html>