@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazir-Code-Hack';
    src: url("/fonts/Vazir-Code-Hack.ttf");
}

.rtl, .fa {
    direction: rtl;
    text-align: right;
}

.ltr, .en {
    direction: ltr;
    text-align: left;
}


pre, code {
    font-family: 'Vazir-Code-Hack', monospace !important;
    direction: ltr !important;
    text-align: left !important;
    border-radius: 0.315rem;
    overflow-x: auto;
}

footer a{
    font-family: 'Vazir-Code-Hack',monospace !important;
}

pre {
    padding: 0.618rem;
}

code {
    background-color: #272822;
    color: #f8f8f2;
    padding: 0.318rem;
}

pre code {
    background-color: #272822;
    color: #f8f8f2;
    padding: 0rem;
}

li {
    margin-right: 1rem;
}

h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Vazirmatn',sans-serif;
    letter-spacing: 0.03rem;
}

a {
    @apply text-sky-600;
}

main h1 {
    @apply text-xl font-bold;
}

main h2 {
    @apply text-lg font-bold;
}

main h3 {
    @apply font-bold;
}