@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazir-Code-Hack';
    src: url("/fonts/Vazir-Code-Hack.ttf");
}

* {
    font-family: 'Vazirmatn',sans-serif !important;
    letter-spacing: 0.03rem;
}

.rtl {
    direction: rtl;
    text-align: right;
}

pre, code {
    font-family: 'Vazir-Code-Hack',monospace !important;
    direction: ltr !important;
    text-align: left !important;
    border-radius: 0.315rem;
    overflow-x: scroll;
}

footer a{
    font-family: 'Vazir-Code-Hack',monospace !important;
}

pre {
    padding: 0.618rem;
}

code {
    padding: 0.315rem;
}

code {
    background-color: #272822;
    color: #f8f8f2
}

li {
    margin-right: 1rem;
}