<footer>
    <div class="h-36"></div>
    <div class="h-36"></div>
    <div class=" border-t py-4 flex justify-center flex-wrap fixed w-full bottom-0 bg-white right-0 left-0">
        <a href="https://instagram.com/itsblackestwhite" class="m-4">instagram</a>
        <a href="https://www.goodreads.com/user/show/109038275-mahdi-akbari" class="m-4">goodreads</a>
        <a href="https://www.youtube.com/@blackestwhite" class="m-4">youtube</a>
        <a href="http://t.me/meNevise" class="m-4">telegram</a>
        <a href="https://twitter.com/byblackestwhite" class="m-4">twitter</a>
        <a href="https://github.com/blackestwhite" class="m-4">github</a>
    </div>
</footer>