<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>بلاگ مهدی اکبری | blackestwhite</title>
    <!-- resources.Get "style.css" will fetch the style.css file. 
    It will not work if you mention the exact location like "./assets/style.css".-->
    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    <meta name="google-site-verification" content="CfxD9VHCwx4FDNI2vnUTd7GHbY_8uASYNw5Vi_9G3FU" />
</head>