<header>
    <div class="my-4 border-b">
        <div class="flex">
            <div>
                <img src="https://avatars1.githubusercontent.com/u/33098161?s=460&u=29871eef7376c5612bb255f1ba1aae1d14b8583b&v=4" class="w-24 h-24 rounded-full"/>
            </div>
            <div class="flex items-center">
                <div class="mr-2">
                    <h1 class="font-bold">
                        مهدی اکبری
                    </h1>
                    <h2>توسعه دهنده</h2>
                </div>
            </div>
        </div>

        <nav class="flex mt-4">
            <a href="/" class="m-3 text-sky-500">خانه</a>
            <a href="/posts" class="m-3 text-sky-500">لیست نوشته ها</a>
        </nav>
    </div>
</header>